.container
{
    border:1px solid black;
    
}
.file{
    height: 220px;
    width: 394px;
    border: 1px solid pink;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT09-tfVHyNVqVBr4MyZmHsXKlQZ-AQzIuN9Q&usqp=CAU") no-repeat;
    background-position: center;
    // background-size: cover;
    

}
.btn{
    border: 1px solid pink;
    width: 400px;
    margin-top: 35px;
    background: #FB6090;
    color: white;
}